# Java
*.class
*.jar
*.war
*.ear

# Maven
/target/
/logs/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.template

# Outros
*.log
*.tmp

